@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1689574713700') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaodangao:before {
  content: "\e6c5";
}

.icon-rou:before {
  content: "\e60f";
}

.icon-yu:before {
  content: "\e610";
}

.icon-huayecai:before {
  content: "\e612";
}

.icon-huayecai1:before {
  content: "\e607";
}

.icon-buyu:before {
  content: "\e68c";
}

.icon-wuhuarou:before {
  content: "\e620";
}

.icon-tiandian:before {
  content: "\e614";
}

