.recipe-container {
    height: 100%;
    padding-left: 180px;
    .recipe-tabs {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 180px;
        box-shadow: rgba(149, 157, 165, 0.2) 0 0 12px;
        li {
            height: 120px;
            padding: 20px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            .icon {
                opacity: 1;
                transition: all 0.4s ease 0.2s;
                width: 64px;
                height: 64px;
                margin: 0 auto;
                display: block;
                font-size: 40px;
            }
            .desc {
                position: absolute;
                transform: translateX(-200%);
                transition: all 0.4s ease;
                font-size: 30px;
                line-height: 42px;
                color: #4c99ac;
                font-weight: bold;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &.active {
                box-shadow: rgba(149, 157, 165, 0.2) 0 0 12px;
                .icon {
                    opacity: 0;
                    transition: all 0.4s ease;
                }
                .desc {
                    transform: translateX(0);
                    transition: all 0.4s ease;
                }
            }
        }
    }
    .recipe-list {
        padding-bottom: 60px;
        height: 100%;
        .recipe-ul {
            overflow: hidden;
            li {
                position: relative;
                margin: 40px 40px 0;
                border-radius: 8px;
                background: linear-gradient(270deg, rgba(247,249,255,1) 0%, rgba(242,246,255,1) 100%);
                .image-wrapper {
                    position: relative;
                    width: 100%;
                    padding-bottom: 66.7%;
                    overflow: hidden;
                    border-radius: 8px 8px 0 0;
                    .thumb {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                    .thumb[src=""], .thumb:not([src]){
                        opacity:0;
                    }
                }
                .corner-mark {
                    display: block;
                    width: 64px;
                    height: 64px;
                    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAM9JREFUWEdjZBhgwDjA9jOMOgAeAv93e/nTMzoYXbdtBNmH5ACfPwwMDMx0csRfRtctLKMOGA2B0RAYDYHREBgNgdEQGFwhUFOauf3n7//S6O0BPrZ/12pcXkymdjuB0W3TUZQQAHGysrKmMjIyZqFZ1jd16tRiajsAZh5GozQnJ6f9////FUgW0tcBIIuzs7OrGBgYWqGOoL8DQBbn5OTk/v//fxIDA8PAOACaJhIYGRl16ZoG0BNbVlaW77Rp0zbTLRHSyiJc5o52zQY8BAAls4EhX22legAAAABJRU5ErkJggg==);
                    background-size: 100% 100%;
                    position: absolute;
                    left: -16px;
                    top: 0;
                    &::before {
                        display: block;
                        content: "外食";
                        font-size: 20px;
                        color: #fff;
                        line-height: 1;
                        font-style: normal;
                        text-align: center;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 16px;
                        margin: auto;
                    }
                }
                .item-content {
                    padding: 30px 20px;
                    position: relative;
                    h3 {
                        font-size: 30px;
                    }
                    p {
                        font-size: 28px;
                        margin-top: 10px;
                        line-height: 1.3;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 3;
                        color: #666;
                    }
                    span.more {
                        display: block;
                        font-size: 30px;
                        line-height: 1;
                        position: absolute;
                        bottom: 46px;
                        left: 30px;
                        color: #4c99ac;
                        border: 1px solid #4c99ac;
                        border-radius: 4px;
                        padding: 6px 12px;
                    }
                }
            }
            &:last-of-type {
                min-height: 100%;
            }
        }
    }
}