.recipe-container {
    height: 100%;
    padding-left: 180px;
    .recipe-tabs {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 180px;
        box-shadow: rgba(149, 157, 165, 0.2) 0 0 12px;
        li {
            height: 120px;
            padding: 20px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            .icon {
                opacity: 1;
                transition: all 0.4s ease 0.2s;
                width: 64px;
                height: 64px;
                margin: 0 auto;
                display: block;
                font-size: 40px;
            }
            .desc {
                position: absolute;
                transform: translateX(-200%);
                transition: all 0.4s ease;
                font-size: 30px;
                line-height: 42px;
                color: #4c99ac;
                font-weight: bold;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &.active {
                box-shadow: rgba(149, 157, 165, 0.2) 0 0 12px;
                .icon {
                    opacity: 0;
                    transition: all 0.4s ease;
                }
                .desc {
                    transform: translateX(0);
                    transition: all 0.4s ease;
                }
            }
        }
    }
    .recipe-ul {
        overflow: hidden;
        li {
            margin: 40px;
            border-radius: 8px;
            overflow: hidden;
            background: linear-gradient(270deg, rgba(247,249,255,1) 0%, rgba(242,246,255,1) 100%);
            .image-wrapper {
                position: relative;
                width: 100%;
                padding-bottom: 66.7%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: .2s;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                img[src=""], img:not([src]){
                    opacity:0;
                }
            }
            .item-content {
                padding: 30px 20px;
                position: relative;
                h3 {
                    font-size: 30px;
                }
                p {
                    font-size: 28px;
                    margin-top: 10px;
                    line-height: 1.3;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    color: #666;
                }
                span.more {
                    display: block;
                    font-size: 30px;
                    line-height: 1;
                    position: absolute;
                    bottom: 46px;
                    left: 30px;
                    color: #4c99ac;
                    border: 1px solid #4c99ac;
                    border-radius: 4px;
                    padding: 6px 12px;
                }
            }
        }
    }
}